.gallery {
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto;
}

.gallery .btnDiv {
	margin-top: 0.75em;
	padding: 0;
}

.gallery .btnDiv Button {
	width: 360px;
	height: 54px;
	margin: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto;
	justify-items: stretch;
	overflow-x: hidden;
	grid-column-gap: 0.25em;
	grid-row-gap: 0.25em;
	border-radius: 0.5em;
}

.grid-item {
	position: relative;
	background-size: contain;
	background-position-x: center;
	background-position-y: top;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 1.0);
	width: 117px;
	text-align: center;
	height: 153px;
}

.grid-item-label {
	background-color: black;
	color: white;
	opacity: 0.8;
	font-size: 13px;
	bottom: 0;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	min-height: 50px;
	display: flex;
	z-index: 10;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.grid-item:hover .overlay {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
}

.grid-item .rated.overlay {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
}

.grid-item:hover .star-div {
	z-index: 9;
	display: flex;
}

.star-div {
	height: 27px;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	padding-top: 25%;
	display: none;
}

.star-div-rated {
	height: 27px;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	padding-top: 25%;
	display: visible;
}

.rankHolder {
	width: -moz-fit-content;
	width: fit-content;
	margin: 1.6em auto 0 auto;
}

.rankHolder span {
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1.6em;
	text-align: center;
	/* padding-top: 17px; */
}

.rankHolder span:nth-child(2) {
	color: #357df2;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;

}

.rankHolder span:last-child {
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1.6em;
	text-align: center;

	color: #62656b;
}

/**
 * ==============================================
 * Dot Floating
 * ==============================================
 */
 .dot-floating {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #9880ff;
	color: #9880ff;
	animation: dot-floating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}

.dot-floating::before,
.dot-floating::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-floating::before {
	left: -12px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	/* background-color: #9880ff; */
	background-color: #f9b05c;
	/* color: #9880ff; */
	color: #f9b05c;
	animation: dot-floating-before 3s infinite ease-in-out;
}

.dot-floating::after {
	left: -24px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #9880ff;
	color: #9880ff;
	animation: dot-floating-after 3s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes dot-floating {
	0% {
		left: calc(-50% - 5px);
	}

	75% {
		left: calc(50% + 105px);
	}

	100% {
		left: calc(50% + 105px);
	}
}

@keyframes dot-floating-before {
	0% {
		left: -50px;
	}

	50% {
		left: -12px;
	}

	75% {
		left: -50px;
	}

	100% {
		left: -50px;
	}
}

@keyframes dot-floating-after {
	0% {
		left: -100px;
	}

	50% {
		left: -24px;
	}

	75% {
		left: -100px;
	}

	100% {
		left: -100px;
	}
}

.loaderStage {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 32px 0;
	margin: 0 5%;
	overflow: hidden;

}