.AdvisorPanel-list-item {
	text-align: left;
	display: flex;
	border: 1px solid;
	margin: 2px;
	cursor: pointer;
}

.AdvisorPanel-list-item:hover {
	background-color: #282c34;
	color: white;
}

.selected {
	background-color: #282c34;
	color: white;
}

.AdvisorPanel-list-item-image {
	height: 50px;
	width: 32px;
	margin-left: 5px;
	margin-right: 1px;
}

.AdvisorPanel-list-item-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.AdvisorsDetails-poster {
	height: 300px;
	width: 300px;
	margin: 0 auto;
}

.AdvisorsDetails-button-reject {
	margin-top: 10px;
	margin-bottom: 10px;
}

.AdvisorsDetails-button-accept {
	margin-top: 10px;
	margin-bottom: 10px;
}

.AdvisorProfile-list-item {
	text-align: left;
	display: flex;
	border: 1px solid;
	margin: 3px;
}

.AdvisorPanel-list-item-status-label {
	margin: auto 10px auto auto;
	border-radius: 0.5em;
	text-align: center;
	width: 81px;
}

.AdvisorPanel-list-item-status-label.pending {
	background-color: #cccccccc;
}

.AdvisorPanel-list-item-status-label.accepted {
	background-color: #198754;
	color: white;
}

.AdvisorPanel-list-item-status-label.rejected {
	background-color: #dc3545;
	color: white;
}
