.AdvisorPanel-list-item {
	text-align: left;
	display: flex;
	border: 1px solid;
	margin: 2px;
	cursor: pointer;
}

.AdvisorPanel-list-item:hover {
	background-color: #282c34;
	color: white;
}

.selected {
	background-color: #282c34;
	color: white;
}

.AdvisorPanel-list-item-image {
	height: 50px;
	width: 32px;
	margin-left: 5px;
	margin-right: 1px;
}

.AdvisorPanel-list-item-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.AdvisorsDetails-poster {
	height: 150px;
	width: 150px;
	margin-left: 7px;
}

.AdvisorDetails-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.AdvisorProfile-list-item {
	text-align: left;
	display: flex;
	border: 1px solid;
	margin: 3px;
}