.form-container {
    border: 2px solid;
}

.recommendation-form-name {
    margin-top: 7%;
}

.recommendation-form-why {
	margin-top: 20%;
}

.submit-btn {
    margin-top: 5%;
    margin-bottom: 3%;
    width:50%;
    height:50%;
}

.AdvisorsDetails-button-panel{
    justify-content: space-evenly;
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 10px;
    border: 1px solid;
}

.button-container1{
    flex: 1;
    margin: 2px;
    padding-top: 50px;
}

.button-container2{
    flex: 1;
    margin: 2px;
}
.AdvisorsDetails-button-accept{
    font-size: 1.2em;
    height: 70%;
}

.AdvisorsDetails-button-reject{
    font-size: 1.2em;
    height: 70%;
}
