/* Used in Header.jsx */
.layout-header {
	padding: 1em 1rem;
	margin-bottom: 0.5rem;
	/* margin-top: 1.5rem; */
	background-color: #e9ecef;
	border-radius: 0.3rem;
}

.layout-header-text {
	width: fit-content;
	margin: auto;
	text-align: left;
}

/* End Header.jsx */

/* Used in Footer.jsx */
.layout-footer {
	padding: 1em 1rem;
	margin-top: 1.5rem;
	background-color: #e9ecef;
	border-radius: 0.3rem;
	/* float: right; */
	width: 100%;
}

.layout-footer-btn {
	float: right;
}