* {
  box-sizing: border-box;
}

body {
  color: #464646;
  font-size: 100%;
  margin: 0;
  line-height: 1.4283;
  font-family: "Segoe UI", Roboto, Verdana, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #f44f18;
  text-decoration: none;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


.btn-ers {
  background-color: #f9b05c;
  font-weight: 400;
  color: #4a4b4b;
}

.btn-ers:hover {
  background-color: #d9903c;
  color: #4a4b4b;
}

.btn-ers:disabled {
  background-color: #c0c0c0;
  color: #4a4b4b;
  border-width: 0;
}

.btn-ers-disabled {
  background-color: #c0c0c0ee;
  color: #4a4b4b;
  border-width: 0;
  cursor: default;
}

.btn-ers-disabled:hover {
  background-color: #c0c0c0ee;
  color: #4a4b4b;
  border-width: 0;
  cursor: default;
}

.btn-ers-disabled:active {
  background-color: #c0c0c0ee !important;
  color: #4a4b4b !important;
  border-width: 0 !important;
  cursor: default !important;
}

.btn-ers-disabled:focus-visible {
  background-color: #c0c0c0ee;
  color: #4a4b4b;
  border-width: 0;
  cursor: default;
}

.btn-lg {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-size: large;
}

.btn-ersDone {
  background-color: #39e04c;
  font-weight: 400;
  color: #4a4b4b;
  border: solid #19cf2c 1px;
}

.btn-ersDone:hover {
  background-color: #11af11;
  color: #f0f0f0;
}

.btn-ersDone:disabled {
  background-color: #c0c0c0;
  color: #4a4b4b;
  border-width: 0;
}

.btn-ersDone:active {
  background-color: #5cbf5c ! important;
  color: #4a4b4b;
  border-width: 0;
}

.btn-ersCancel {
  background-color: #c9ccd5;
  border-color: #c9ccd5;
}

.btn-ersCancel:hover {
  background-color: #8b8b8b;
  border-color: #8b8b8b;
}

.btn-ersCancel:disabled {
  background-color: #c0c0c0;
  color: #4a4b4b;
  border-width: 0;
}

.btn-ersCancel:active {
  background-color: #8b8b8b ! important;
  color: #4a4b4b;
  border-width: 0;
}


.footer-btn {
  float: right;
}

.nextButton {
  height: fit-content;
  margin-top: 1em;
}

.home-nav li{
  margin: 1em;
  display: inline-block;
}

.header-row {
  margin: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9b05c;
  padding: 1em;
  border-radius: 0.25em;
}

.content-row {
  margin: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  padding: 1em;
  border-radius: 0.25em;
}

.footer-row {
  margin: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  padding: 1em;
  border-radius: 0.25em;
}